$gray1: oklch(95% 0 270);
$gray2: oklch(80% 0 270);
$gray3: oklch(62% 0 270);
$gray4: oklch(42% 0 270);
$gray5: oklch(28% 0 270);
$gray6: oklch(15% 0 270);

$rose1: oklch(95% 0.05 0);
$rose2: oklch(80% 0.1 0);
$rose3: oklch(62% 0.1 0);
$rose4: oklch(42% 0.1 0);
$rose5: oklch(28% 0.1 0);
$rose6: oklch(15% 0.1 0);

$orange1: oklch(95% 0.05 50);
$orange2: oklch(80% 0.1 50);
$orange3: oklch(62% 0.1 50);
$orange4: oklch(42% 0.1 50);
$orange5: oklch(28% 0.1 50);
$orange6: oklch(15% 0.1 50);

$yellow1: oklch(95% 0.05 90);
$yellow2: oklch(80% 0.1 90);
$yellow3: oklch(62% 0.1 90);
$yellow4: oklch(42% 0.1 90);
$yellow5: oklch(28% 0.1 90);
$yellow6: oklch(15% 0.1 90);

$green1: oklch(95% 0.05 120);
$green2: oklch(80% 0.1 120);
$green3: oklch(62% 0.1 120);
$green4: oklch(42% 0.1 120);
$green5: oklch(28% 0.1 120);
$green6: oklch(15% 0.1 120);

$aqua1: oklch(95% 0.05 160);
$aqua2: oklch(80% 0.1 160);
$aqua3: oklch(62% 0.1 160);
$aqua4: oklch(42% 0.1 160);
$aqua5: oklch(28% 0.1 160);
$aqua6: oklch(15% 0.1 160);

$teal1: oklch(95% 0.05 190);
$teal2: oklch(80% 0.1 190);
$teal3: oklch(62% 0.1 190);
$teal4: oklch(42% 0.1 190);
$teal5: oklch(28% 0.1 190);
$teal6: oklch(15% 0.1 190);

$blue1: oklch(95% 0.05 270);
$blue2: oklch(80% 0.1 270);
$blue3: oklch(62% 0.1 270);
$blue4: oklch(42% 0.1 270);
$blue5: oklch(28% 0.1 270);
$blue6: oklch(15% 0.1 270);

$violet1: oklch(95% 0.05 300);
$violet2: oklch(80% 0.1 300);
$violet3: oklch(62% 0.1 300);
$violet4: oklch(42% 0.1 300);
$violet5: oklch(28% 0.1 300);
$violet6: oklch(15% 0.1 300);

$purple1: oklch(95% 0.05 330);
$purple2: oklch(80% 0.1 330);
$purple3: oklch(62% 0.1 330);
$purple4: oklch(42% 0.1 330);
$purple5: oklch(28% 0.1 330);
$purple6: oklch(15% 0.1 330);
